*{
    font-family: sans-serif;
}
header {

            tamaño-óptico-de-fuente: 15px;
            peso de fuente: <peso>;
            estilo de fuente: normal;
            align-items: center;
            background-color: #000;
            color: #fff;
            text-align: center;
            padding: 10px;
        }
        img{


            width: 130px;
            height: 130px; 
            border-radius: 50%;
        }

        body{

            background: linear-gradient(90deg,black,white);
            margin: 0;
            padding: 0;
            background-color: #fff;
            color: #000;
        }
        .botones{


        display: grid;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 25%;
        }
        a{
            color: #000000;
            text-decoration: none;
        }
        button{
            position: relative;
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    font-weight: bold;
    border: 2px solid #000000;
    background: transparent;
    color:fff;
    cursor: pointer;
    overflow: hidden;
    text-transform: uppercase;

}
    span{
    background: #000000;
    height: 100%;
    width: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
section {

            
            text-align: center;
            max-width: 800px;
            margin: auto;
            padding: 20px;
        }
        footer {
            background-color: #000000;
            color: #FFFFFF;
            text-align: center;
            padding: 10px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
